.oneTask{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 50px ;
  margin-left: 50px;
  span{
    font-size: 24px;
  }
  textarea{
    border: grey 3px solid;
    padding: 5px;
    outline: none;
    resize: none;
  }
  button{
    align-self: center;
    padding: 15px 45px;
    background: #4DD599;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}